# Environment files
.env
.env.*
backend/.env
frontend/.env
*.env

# Keys and Secrets
*.pem
secret.*
flatmates-key.pem

# Build and cache
node_modules/
.cache/
*.pack
.DS_Store
deploy.tar.gz

# Tool specific
.github/instructions/kluster-code-verify.instructions.md
.kluster
